html,body,#app{
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1366px;
}
.el-card {
   margin-top: 10px;
}
.el-table {
    margin-top: 20px;
}
.el-pagination{
    margin-top: 15px;
}
.el-cascader__dropdown {
    height: 200px;
    }
.el-cascader-panel {
    height: 200px;
    }